<h4>用户详细信息</h4>

<hr>

<table style="border: 1px dashed blue">
    <tr>
        <td>nickname: </td>
        <td>{{nickname}}</td>
    </tr>
    <tr>
        <td>email: </td>
        <td>{{email}}</td>
    </tr>
    <tr>
        <td>mobile: </td>
        <td>{{mobile}}</td>
    </tr>
    <tr>
        <td>ctime: </td>
        <td>{{ctime}}</td>
    </tr>
</table>

<a href="/user/logout">退出</a>
