<h1>登录注册引导页</h1>

<hr>

<h4>登录表单</h4>
<form class="" action="/user/login" method="post">
    <div class="">
        <label for="username">用户名: </label>
        <input type="text" name="username" placeholder="手机号或邮箱地址" value="">
    </div>

    <div class="">
        <label for="password">密码: </label>
        <input type="password" name="password" placeholder="密码" value="">
    </div>

    <button type="submit" name="login">登录</button>
</form>

<hr>

<h4>注册表单</h4>
<form class="" action="/user/register" method="post">
    <div class="">
        <label for="nickname">昵称: </label>
        <input type="text" name="nickname" value="">
    </div>

    <div class="">
        <label for="email">邮箱: </label>
        <input type="text" name="email" value="">
    </div>

    <div class="">
        <label for="mobile">手机号: </label>
        <input type="text" name="mobile" value="">
    </div>

    <div class="">
        <label for="password">密码: </label>
        <input type="password" name="password" value="">
    </div>

    <div class="">
        <label for="password-repeat">密码重复: </label>
        <input type="password" name="password-repeat" value="">
    </div>

    <button type="submit" name="register">注册</button>
</form>
