<h4>评论添加页面</h4>

<hr>

<form class="" action="/comment/add" method="post">
    <div class="">
        <label for="to">to: </label>
        <input type="text" name="to" placeholder="评论哪条评论(选填, 不填认为是添加)" value="">
    </div>

    <div class="">
        <label for="content">content: </label>
        <input type="text" name="content" placeholder="评论内容(必填)" value="">
    </div>
    <button type="submit" name="add_comment">添加评论</button>
</form>
