<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no"/>
    <meta name="flexible" content="initial-dpr=1,maximum-dpr=1"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>

    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/user-details.css' />
  </head>
  <body>
    <p style="color: red">你猜猜你登录了没:
        {{#if isLogin}}
            是
        {{else}}
            否
        {{/if}}
    </p>
    <br>
    {{{body}}}
  </body>
</html>
